<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>HTML</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <style type="text/css">
            body 
            {
                background-color: black;
                font-family: 'Papyrus';
                font-size: 16px;
                color: rgba(254, 196,99,1);
            }
            a
            {
                font-family: 'Papyrus';
                font-size: 16px;
                color: rgba(254, 196,99,1); 
                cursor: pointer;    
                text-decoration: none;          
            }
            a:hover{
                color: rgba(254, 200,200,1);
            }

            input
            {
                background-color: black;
                box-shadow: 10px;
                border-color: rgba(254, 196,99,0.5); 
                font-family: 'Papyrus';
                font-size: 14px;
                color: rgba(254, 196,99,1);
            }
        </style>
    </head>

    <body>
        <div>
        <% if(addresses.length>0){  %>
        <p style="clear:left"> Here's what we found: </p>
                <form action="/confirm/<%= orderid %>" method="GET">
                   
                   <select name="addr_options">
                        <% addresses.forEach(function(address){  %>
                        <option> <%= address %> </option>
                        <% }); %>
                   </select>
                   
                   <button type="submit" id="order">Proceed with this address</button>
                </form>
        <p> Or </p>
        <% } else {%>
        <p style="clear:left"> We were unable to locate this address, continue with entered address anyway? </p>
        <% } %>
        <p> <a style="float:left" href="/order/placeorder/<%= orderid %>"> Go back </a>
        <a style="float:right" href="/confirm/<%= orderid %>"> Continue with original address</a> </p>
        </div>
    </body>
</html>
